.landing {
    align-items: center;
    background: url('../img/landing_bg.svg')no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Urbanist';
    height: 100vh;
    justify-content: center;
}

.tagline {
    font-size: 80px;
    font-weight: 800;
    margin: 20px 0;
    text-align: center;
}

.form {
    align-items: center;
    display: flex;
    text-align: center;
    width: 50%;
}

#search-bar {
    border-radius: 20px;
    outline: none;
    padding: 10px;
    width: 100%;
}

#search-icon {
    position: relative;
    right: 7%;
    width: 20px;
}